.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 21%;
    min-width: 400px;
    height: 100vh;
    background-image: linear-gradient(265deg, #00B3FF 0%, #1F0F97 100%);
    z-index: 1000;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

.navbar-hamburger {
    position: fixed;
    top: 30px;
    left: 30px;
    background: none;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    z-index: 3001;
    cursor: pointer;
    display: block;
}


.navbar-close {
    position: fixed;
    top: 30px;
    left: calc(20.8% - 50px);
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    z-index: 3002;
    transform: skew(2deg);
    cursor: pointer;
    display: block;
}

.navbar.open {
    transform: translateX(0);
}


.navbar-logo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo img {
    width: 81px;
    margin-right: 6.8%;
    margin-top: 8%;
}

.navbar-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 6%;
    gap: 1.58rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 6.5%;
    transition: all 0.8s ease;
}

.navbar-links a:hover {
    color: #FE00C0;
}

.navbar-servicios-toggle {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: background 0.2s;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 6%;
}

.navbar-servicios-toggle .arrow {
    margin-left: 8px;
    transition: transform 0.3s;
    font-size: 1.2rem;
    display: inline-block;
}

.navbar-servicios-toggle.open .arrow {
    transform: rotate(180deg);
}

.navbar-servicios-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: desplegarServicios 0.3s ease;
    margin-bottom: 10px;
}

@keyframes desplegarServicios {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}

.servicio-link {
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #FE00C0;
    transition: background 0.2s, color 0.2s;
}

.servicio-link:hover {
    color: #FE00C0;
}

.navbar-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-left: 6.5%;
    width: 50%;
    gap: 10px;
}

.navbar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: white;
    border: solid 2px #ffffff;
    border-radius: 5px;
    transition: all 0.8s ease;
}


.navbar-icon svg {
    height: 20px;
    width: 20px;
    color: #fff;
    transition: all 0.8s ease;
}

.navbar-icon:hover {
    border: solid 2px #FE00C0;
    transform: scale(1.1);
}

.navbar-icon svg:hover {
    color: #FE00C0;
}

/* mobile media query */

@media (max-width: 900px) {
    .navbar {
        width: 90%;
    }
}


